mixin video(video)
    div 
        h3
            a(href=`/video/${video.id}`)=video.title
        ul 
            li #{video.rating}/5
            li #{video.comments}:Comments
            li Posted #{video.createdAt}
            li #{video.views}:Views
            