extends layout.pug
include mixins/mixin

block content
    div
        p=video.description
        small=video.createdAt
        ul 
        each hashtags in video.hashtags
            li=hashtags
    div
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
            
